# Environment variables
.env
.example.env

# Virtual environment
venv/

# Python build artifacts
*.egg-info/
__pycache__/
*.pyc

# Aider files
.aider*
.aider.chat.history.md
.aider.tags.cache.v3
aider.conf.yml

# Dependencies
node_modules/
npm-debug.log*
*.log
*.lock

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE/Editor files
.vscode/
*.swp
*.swo
*.code-workspace
.cursorrules
.cursor/rules/*
.cursor/*

# LLM-Context Tool
curr_ctx.toml
.llm-context/*

# Standard directory
.notes/*
.planning/*
.idea/*
.ai.dev-resources/*

